@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lato:wght@300&family=Noto+Color+Emoji:wght@400&display=swap');

:root {
  --bg-color: #ecfeff;
  --text-color: #083344;
  --bg-color-dark: #cffafe;
  --bg-color-darker: #a5f3fc;
  --bg-color-darkest: #67e8f9;
  --border-color: #22d3ee;
  --border-color-dark: #06b6d4;
  --link-color: #84cc16;
}

.white-scheme {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --bg-color-dark: #f1f5f9;
  --bg-color-darker: #e2e8f0;
  --bg-color-darkest: #cbd5e0;
  --border-color: #64748b;
  --border-color-dark: #475569;
  --link-color: #2dd4bf;
}
.black-scheme {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --bg-color-dark: #1e293b;
  --bg-color-darker: #334155;
  --bg-color-darkest: #4c586b;
  --border-color: #64748b;
  --border-color-dark: #94a3b8;
  --link-color: #2dd4bf;
}
.blue-scheme {
  --bg-color: #ecfeff;
  --text-color: #083344;
  --bg-color-dark: #cffafe;
  --bg-color-darker: #a5f3fc;
  --bg-color-darkest: #67e8f9;
  --border-color: #22d3ee;
  --border-color-dark: #06b6d4;
  --link-color: #84cc16;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-color-darker);
  color: var(--text-color);
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: 150px;
  text-align: center;
  display: inline-block;
  box-shadow: none;
}

select:focus {
  outline: none;
  box-shadow: none; 
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-clear-button {
    display: none;
}

select:hover {
  background-color: var(--bg-color-darkest);
}
select option:hover {
  background-color: var(--bg-color-darkest);
  color: var(--text-color);
}
html {
  height: 100%;
  width: 100%;
  overflow-x:hidden
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Nunito", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 10vh;
  transition: background-color 0.3s ease;
}

.collapsible {
  padding-top: 25px;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease;
  margin-bottom: -1px; 
  position: relative;
  z-index: 2; 
  font-weight: bold;
  font-family: "Nunito", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
}


.collapsible::after {
  content: '>';
  font-size: 15px;
  position: absolute;
  font-weight: bold;
  right: 10px;
  transform: rotate(90deg); 
  transform-origin: center; 
  transition: transform 0.3s ease;
}

.collapsible.active::after {
  content: '>';
  font-weight: bold;
  transform: rotate(-90deg); 
}

.active, .collapsible:hover {
  background-color: var(--bg-color-darker);
  border-color: var(--border-color-dark);
}

.collapsible.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  z-index: 1;
  font-weight: medium;
  font-family: "Nunito", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
}

.content p {
  padding: 5px 5px;
  display: inline-block;
}

.content a {
  padding: 5px 5px;
  display: inline-block; 
  color: var(--link-color);
  text-decoration: none;
}

.content table {
  border-collapse: separate;
  border-spacing: 0;
  padding: 5px 5px;
}

.content th, td {
  border: 1px solid var(--border-color-dark);
  padding: 10px;
}

.content tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.content tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.content tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.content tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

footer {
  text-align: center;
  padding: 3px 3px;
  background-color: var(--bg-color-darker);
  color: var(--bg-color);
  width: 100vw;
  position: relative;
  left: 50%; 
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a {
  padding: 5px 5px;
  display: inline-block; 
  color: var(--link-color);
  text-decoration: none;
}
