@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lato:wght@300&family=Noto+Color+Emoji:wght@400&display=swap');
@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/SquareScreamYT/sf-fonts/master/SF-Pro-Rounded-Light.otf") format("opentype");
}

:root {
  --bg-color: #ecfeff;
  --text-color: #083344;
  --bg-color-dark: #cffafe;
  --bg-color-darker: #a5f3fc;
  --bg-color-darkest: #67e8f9;
  --border-color: #22d3ee;
  --border-color-dark: #06b6d4;
  --link-color: #818cf8;
}

.white-scheme {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --bg-color-dark: #f1f5f9;
  --bg-color-darker: #e2e8f0;
  --bg-color-darkest: #cbd5e0;
  --border-color: #64748b;
  --border-color-dark: #475569;
  --link-color: #818cf8;
}
.black-scheme {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --bg-color-dark: #1e293b;
  --bg-color-darker: #334155;
  --bg-color-darkest: #4c586b;
  --border-color: #64748b;
  --border-color-dark: #94a3b8;
  --link-color: #818cf8;
}
.blue-scheme {
  --bg-color: #ecfeff;
  --text-color: #083344;
  --bg-color-dark: #cffafe;
  --bg-color-darker: #a5f3fc;
  --bg-color-darkest: #67e8f9;
  --border-color: #22d3ee;
  --border-color-dark: #06b6d4;
  --link-color: #818cf8;
}
.teal-scheme {
  --bg-color: #f0fdfa;
  --text-color: #134e4a;
  --bg-color-dark: #ccfbf1;
  --bg-color-darker: #99f6e4;
  --bg-color-darkest: #5eead4;
  --border-color: #2dd4bf;
  --border-color-dark: #14b8a6;
  --link-color: #818cf8;
}
.emerald-scheme {
  --bg-color: #ecfdf5;
  --text-color: #064e3b;
  --bg-color-dark: #d1fae5;
  --bg-color-darker: #a7f3d0;
  --bg-color-darkest: #6ee7b7;
  --border-color: #34d399;
  --border-color-dark: #10b981;
  --link-color: #818cf8;
}

select {
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-color-darkest);
  color: var(--text-color);
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: 70px;
  text-align: center;
  display: inline-block;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

html {
  height: 100%;
  width: 100%;
  overflow-x:hidden
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh; 
  padding-top: 2vh;
  padding-bottom: 2vh;
  transition: background-color 0.3s ease;
}

a {
  padding: 5px 5px;
  display: inline-block; 
  color: var(--link-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  height: 96vh;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.sidebar {
  width: 250px;
  background-color: var(--bg-color-dark);
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

#search {
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  border-width: 0;
  background-color: var(--bg-color-darker);
  transition: background-color 0.3s ease;
  color: var(--text-color);
}

#wordList {
  flex-grow: 1;
  overflow-y: auto;
  transition: background-color 0.3s ease;
}

.word-entry {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.word-entry:last-child {
  border-bottom: none;
  transition: background-color 0.3s ease;
}

.content {
  background-color: var(--bg-color-darker);
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: background-color 0.3s ease;
}

.word-button {
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: var(--bg-color-darker);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-color: var(--border-color);
}

.word-button:hover {
  background-color: var(--bg-color-darkest);
  border-color: var(--border-color-dark);
}

.word-button:focus {
  border-color: var(--border-color-dark);
}